
.cabecalho_menu{
    display: flex;
    gap: 80px;
}
.cabecalho_menu_link{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}

.cabecalho_menu_link:hover{
    background-color: #272727

}.curriculo{
    margin: 0;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.curriculo_sobremim{
    width: 100%;
    gap: 32px;
    display: flex;
    justify-content: space-between;
}

.curriculo_sobremim ul {
    list-style: none;
    padding: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formacao {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.formacao span {
    font-size: 14px;
    font-weight: 300;
}

.curriculo_sobremim_titulo{
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
    gap: 60px;
}

.curriculo_sobremim_texto{
    font-size: 1.5rem;
    font-family: 'Krona One', sans-serif;
    line-height: 30px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rodape{
    padding: 20px;
    color: #000000;
    background-color: #22D4FD;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
}
@media (max-width: 1000px) {
.curriculo {
    flex-direction: column-reverse;
}
    
.curriculo_sobremim {
    width: auto;
    padding: 5%;
}

.cabecalho_menu_link{
    width: auto;
 } 

.imagem_fernanda{
    width: 100%;
}
}