
.cabecalho_menu{
    display: flex;
    gap: 80px;
}
.cabecalho_menu_link{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}

.cabecalho_menu_link:hover{
    background-color: #272727

}.curriculo{
    margin: 0;
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.curriculo_sobremim{
    width: 100%;
    gap: 32px;
    display: flex;
    justify-content: center;
}

.curriculo_sobremim_texto a {
    font-size: 14px;      
    color: #22D4FD;          
    text-decoration: underline; 
    word-break: break-word;  
}

.container_informacoes{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap; 
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.curriculo_sobremim ul {
    list-style: none;
    padding: 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formacao {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.formacao span {
    font-size: 14px;
    font-weight: 300;
}

.projetos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.projetos span {
    font-size: 14px;
    font-weight: 300;
}

.curriculo_sobremim_titulo{
    font-size: 2.25rem;
    font-weight: bold;
    font-family: 'Krona One', sans-serif;
    gap: 60px;
}

.curriculo_sobremim_texto{
    font-size: 1.5rem;
    font-family: 'Krona One', sans-serif;
    line-height: 30px;
    padding: 30px;
    display:flex;
    flex-direction: column;
    gap: 30px;
    background-color: #1e1e1e; 
    border-radius: 10px;
    width: 500px;
    box-sizing: border-box;

}

.rodape{
    padding: 20px;
    color: #000000;
    background-color: #22D4FD;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
}
@media (max-width: 1000px) {
.curriculo {
    flex-direction: column;
}

.container_informacoes {
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
    
.curriculo_sobremim {
    width: auto;
    padding: 5%;
}

.cabecalho_menu_link{
    width: auto;
 } 

.imagem_fernanda{
    width: 100%;
}
}